.todo {
}

.todo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo__item {
  padding: .5em .25em;
  border-bottom: solid 1px #eee;
}

.todo__item:hover {
  background: #f7f7f7;
  cursor: pointer;
}